<h1>Welcome index</h1>
<h3>hello rails</h3>

<p><%= link_to 'Articles', controller: 'articles' %></p>
<p><%= link_to 'Posts', controller: 'posts' %></p>
<p><%= image_tag "homepage.jpg", size: "500x300" %></p>

<p><%= link_to 'show users', users_path %></p>


<p><%= link_to 'show patients', patients_path %></p>